@import "../../css/settings/global";

.project-listing{
    background-color:$yellow-bg;
    padding-bottom:40px;

    &__title{
        padding: 50px 0px 25px 0px;
    }
    &__card{
        padding-bottom: 25px;
    }
}