// importing global from the settings folder
@import "../../css/settings/global";

.forum-post {
    &__container {
        border: 1px solid #84878A;
        border-radius: 5px;
        background-color: #FFFDF6;;
        box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.08);
    }

    &__post-section {
        padding: 20px;
        border: rgba(0, 0, 0, 0.25);
    }
}

.author {

    &__text{
      font-size: 14px;
      padding-left:20px;
    }

    &__time{
        display: inline;
        float: right;
        text-align: right;
        font-size: 14px;
    }

    &__title{
        font-size: 18px;
        font-weight: $font-weight-medium;
        padding-left:20px;
    }
}

.social {

    &__comment_like {
        float: left;
        margin: 0px 8.2px;
    }

    &__media {
        float: right;
        text-align: right;
        margin-right: 15px;
    }
}

.horizontal{
    width: inherit;
    margin: 0px;
    border: 1px solid rgba(0, 0, 0, 0.26);
}

.comment-section > * {
    padding: 10px 0px;
}

.load-comment{
    padding-left: 18px;
}