@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css');

*{
  box-sizing:border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  margin:0;
}

a{color:inherit}

// Theme colors
$purple: #AB1D79;
$lilac: #4A2343;
$pink: #FFC7E3;

// Text colors
$title-color: #333333;
$text-color: #6E6D7A;

// Background colors
$yellow-bg: #FFFDF6;
$pink-bg: #FFEBF3;

//font-weights
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;


//headings 
h1{
  font-size:50px; 
  font-weight: $font-weight-semi-bold;
}

h2{
  font-size:36px; 
  font-weight: $font-weight-semi-bold;
}

h3{
  font-size: 18px; 
  font-weight: $font-weight-medium;
}


// text style
.text{
  font-size:16px; 
  font-weight: $font-weight-medium;
  line-height:26px;
  color:$text-color;
}

p{
  @extend .text; //using text style
}

.button{
  //elements
  &__small{
    padding:8px 20px;
  }

  &__big{
    padding:15px 25px;
  }

  &__small, &__big{
    //purple button by default. You can use modifiers to change the colors of have different variants
    background-color:$purple;
    color:white;
    border:0;
    display:inline;
    text-transform: uppercase;
    border-radius:5px; 
    font-size:16px; 
    font-weight: $font-weight-medium;
    font-family: 'Poppins', sans-serif;
    cursor:pointer;
    transition:0.2s ease-in-out;

    //modifiers
    &--pink{
      background-color:$pink;
      color:$title-color;
    }

    &--hollow{
      border:1px solid $lilac;
      color:$title-color;
      background-color: transparent;
    }

    //hover effect
    &:hover{
      background-color:$lilac;
      color:white; 
      transition:0.2s ease-in-out;
    }
  }
}

// Header bar
.header{
  height:80px;
  background-color:$yellow-bg;
  border-bottom:1px solid rgba(171, 29, 121, 0.3);

  &__logo{
    height:46px; margin-top:17px;
  }
}

.nav{
  display:flex; justify-content: flex-end;

  &__item-container{
    display:flex;

    // not supported on safari
    // gap:20px;
  }

  &__item{
    @extend .text;
    list-style-type: none;
    color:$title-color;
    line-height:80px;

    a:hover{
      color:$purple;
      text-decoration:underline;
    }

    // to give gap between the nav items (since gap is not supported by all browsers)
    &:not(:last-child){
      margin-right:20px;
    }
  }
}