@import "../settings/global";

.hero-section {
  background-image: linear-gradient(#fffdf6, #ffebf3);
}

.BlogList__header {
  &__title {
    @extend h1;
    margin-top: 50px;
  }

  &__subtitle {
    @extend h2;
  }
  &__link {
    @extend p;
    color: #ab1d79;
    font-weight: bold;
  }
  &__img {
    margin-top: 50px;
  }
}
a:hover {
  color: black;
  text-decoration: underline;
}

.blog_img {
  width: 100%;
}

.author {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;

  &__name-wrap {
    padding: 2px 0;

    & > * {
      margin: 0;
      padding-right: 13px;
      text-align: left;
      line-height: 18px;
    }

    .author__name {
      font-size: 14px;
      font-weight: $font-weight-medium;
    }

    .author__date {
      font-size: 12px;
      font-weight: $font-weight-regular;
    }
  }
}


.BlogList__footer {
  margin: 100px;
}
