.button, a.button {
  //elements
  &__xsmall{
    padding: 10px 20px 5px 20px;
  }

  &__small {
    padding: 8px 20px;
  }

  &__big {
    padding: 15px 25px;
  }

 &__xsmall, &__small,
  &__big, &__comment {
    //purple button by default. You can use modifiers to change the colors of have different variants
    background-color: $purple;
    border:1px solid $purple;
    color: white;
    display: inline;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 16px;
    font-weight: $font-weight-medium;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    box-sizing: border-box;

    //modifiers
    &--pink {
      background-color: $pink;
      color: $title-color;
      border:1px solid $pink;
    }

    &--hollow {
      border: 1px solid $lilac;
      color: $title-color;
      background-color: transparent;
    }

    //hover effect
    &:hover {
      background-color: $lilac;
      border:1px solid $lilac;
      color: white;
      transition: 0.2s ease-in-out;
      text-decoration: none;
    }
  }

  &__comment{
    text-transform: none;
    padding: 4px 13px;
    margin-left: 20px;
  }

}

@media only screen and (max-width:640px){
  .button, a.button{
    &__big{
      padding:12px 20px;
    }
    &__small, &__big{
      font-size:14px;
    }
  }
}

// classes to be used
// button__small
// button__small--pink
// button__small--hollow

// button__big
// button__big--pink
// button__big--hollow