.button {
  //elements
  &__small {
    padding: 8px 20px;
  }

  &__big {
    padding: 15px 25px;
  }

  &__small,
  &__big {
    //purple button by default. You can use modifiers to change the colors of have different variants
    background-color: $purple;
    color: white;
    border: 0;
    display: inline;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 16px;
    font-weight: $font-weight-medium;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    transition: 0.2s ease-in-out;

    //modifiers
    &--pink {
      background-color: $pink;
      color: $title-color;
    }

    &--hollow {
      border: 1px solid $lilac;
      color: $title-color;
      background-color: transparent;
    }

    //hover effect
    &:hover {
      background-color: $lilac;
      color: white;
      transition: 0.2s ease-in-out;
    }
  }
}

// classes to be used
// button__small
// button__small--pink
// button__small--hollow

// button__big
// button__big--pink
// button__big--hollow