@import "../settings/global";

.card {
  width: 340px;
  height: 397px;
  border-radius: 5px;
  background-color: #f8f6f3;

  &-container {
    padding-left: 20px;
    padding-top: 20px;

    &__img {
      width: 300px;
      height: 200px;
      border-radius: 5px;
    }

    h3 {
      color: $title-color;
    }
  }
}

.footer {
  padding: 20px;
  display: flex;
  justify-content: flex-end;

  &__text {
    margin: 0;
    padding-right: 13px;
    text-align: right;
    line-height: 18px;

    &--large {
      font-size: 14px;
      font-weight: $font-weight-medium;
    }

    &--small {
      font-size: 12px;
      font-weight: $font-weight-regular;
    }
  }

  &__img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
  }
}
