@import '../settings/global';

.hero-section {
    background-image: linear-gradient(#FFFDF6, #FFEBF3);
}

.head {

    margin-top: 80px;

    &__heading{
        @extend h1;
        padding-bottom: 30px;
    }
    
    &__para{
        @extend .text;
        padding-right: 100px;
    }
}

.photo {
    margin-left: 30px;
}


/************************************************* code of conduct section ***************************************/

.main-content{
    background-color:$pink-bg;
  
    &__heading{
        text-align: center;
        @extend h2;
    }
    
}

.card1 , .card2 , .card3 , .card4 {
    width: 432px;
    height: 338px;
    background-color: #ffffff;
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 20px;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    
    &__title, &__head {
        @extend h2;
    }

    &__para{
        @extend .text;
    }

    &__head{
        padding-bottom: 30px;;
    }
}

.card1, .card2{
    margin-bottom: 60px;
    margin-top: 50px;
}

.card3,.card4{
    margin-bottom: 100px;
}

.card1, .card3{
    float: right;
}

.card2, .card4{
    float: left;
}


/**************************************************** Guidelines section ***********************************/

.guidelines-section{
    background-image: linear-gradient(#FFEBF3 , #FFFDF6);

    &__heading{
        text-align: center;

        @extend h2;
    }
}

.block1 , .block2 , .block3 {
    margin-top: 70px;
    margin-bottom: 100px;

    &__text{
        text-align: center;

        @extend .text;

        padding-top: 30px ;
                                            
    }
}

.block3{

    &__text{
        padding-right: 30px;
    }
}

.block2{

    &__text{
        padding-left: 28px;
        padding-right: 60px;
    }
}

.block1{

    &__text{
        padding-right: 60px;
        padding-left: 28px;
    }
}




















