@import '../settings/global';

.hero-section {
    background-image: linear-gradient(#FFFDF6, #FFEBF3);
}

.head {

    margin-top: 80px;

    &__heading{
        @extend h1;
        padding-bottom: 30px;
    }
    
    &__para{
        @extend .text;
        padding-right: 100px;
    }
}

.hero_img {
    margin-left: 30px;
}


/************************************************* code of conduct section ***************************************/

.main-content{
    background-color:$pink-bg;
  
    &__heading{
        text-align: center;
        @extend h2;
    }
    
}

.card {
    width: 432px;
    height: 338px;
    background-color: #ffffff;
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 20px;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    
    &__title, &__head {
        @extend h2;
    }

    &__para{
        @extend .text;
    }

    &__head{
        padding-bottom: 30px;;
    }
}

.card{
    margin-top: 50px;
}


/**************************************************** Guidelines section ***********************************/

.guidelines-section{
    background-image: linear-gradient(#FFEBF3 , #FFFDF6);

    &__heading{
        text-align: center;
        padding-top: 70px;
        @extend h2;
    }
}

.guidelines-card {
    margin-top: 80px;
    // margin-bottom: 100px;
    text-align: center;

    &__text{
        text-align: center;

        @extend .text;

        padding-top: 30px ;
        padding-left: 55px;
        padding-right: 55px;                                
    }
}























