@import '../settings//global';

$footer-bg : #e7edf3;

.footer{
    background-color:$footer-bg;
    padding: 0 101px;
    .grid-container{
        padding: 54px 0;
    }
    .cell{
        padding:10px 10px;
    }
    .text-head{
        color: $title-color;
    }
    text{
        @extend .text;
    }
}


li{
    text-align: left;
    list-style: none;    
}

.large-2{
ul{
    margin: 0;
    padding:0;
}
}
.large-3{
ul{
    margin: 0;
    padding:0;
}
}