@import '../settings//global';

$footer-bg : #e7edf3;

.footer{
    background-color:$footer-bg;
    padding: 0 101px;
    .grid-container{
        padding: 54px 0;
    }
    .cell{
        padding:10px 10px;
    }
    .footer__sub-title{
        color: $title-color;
    }
}


.footer__nav-item{
    text-align: left;
    list-style: none;  
    line-height: 40px;  
    @extend .text;
}

.large-2{
.footer__nav-item-container{
    margin: 0;
    padding:0;
}
}

.large-5 .footer__sub-title{
    margin-bottom: 30px;
}

.large-3{
.footer__nav-item-container{
    margin: 0;
    padding:0;
}
}

.footer__img{
    width: 70px;
    height: 70px;
}

.footer__img-text{
    p{
        margin:0;
        padding:0;
    }
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.footer__credits{
    p{
        padding:30px 0;
        margin: 0;
        span{
            color:#2f80ed;
        }
    }
    display: flex;
    align-items: center;
    
}