@import '../settings/global';
@import '../components/button';

// Header bar
.header{
  height:80px;
  background-color:$yellow-bg;
  border-bottom:1px solid rgba(171, 29, 121, 0.3);

  &__logo{
    height:46px; margin-top:17px;
  }
}

.nav{
  display:flex; 
  justify-content: flex-end;

  // ul
  &__item-container{
    display:flex;
    margin:0;

    // gap not supported on safari
    // gap:20px;
  }

  &__item{
    @extend .text;
    list-style-type: none;
    color:$title-color;
    line-height:80px;

    a:hover{
      color:$purple;
      text-decoration:underline;
    }

    // to give gap between the nav items (since gap is not supported by all browsers)
    &:not(:last-child){
      margin-right:20px;
    }
  }
}

.avatar{

  width: 40px;
  height: 40px;
  left: 436px;
  top: 0px;

  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  flex: none;
  order: 4;
  align-self: flex-start;
  margin: 20px 0px;
}