@import "../settings/global";

.project-card {
  &__textcontainer {
    border-radius: 5px;
    padding : 20px;
    background-color: #F4F4F4;
    text-align: left;
  }
  
  &__imgcontainer {
    border-radius: 5px;
    padding : 20px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__text{
    font-weight: $font-weight-medium;
  }
}
