@import '../settings/global';
@import '../components/_button';

.intro{
    margin: auto;
    padding: 159px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.importanceOfDiversity{
    margin: auto;
    padding: 86px;
    justify-content: center;
    align-items: center;
}

.feature{
    padding: 144px;
    margin: auto;
    text-align: center;
}
