@import '../settings/global';
@import '../components/_button';

.intro{
    height: 616px;
    width: 1280px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.importanceOfDiversity{
    width: 1280px;
    display: block;
    margin: auto;
    justify-content: center;
    
}
.feature{
    width: 1280px;
    margin: auto;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}