@import "../../css/settings/global";

.avatar{
    height:40px; 
    width:40px; 
    border-radius:20px;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
    cursor:pointer;
    object-fit: cover;
}