@import "../../css/settings/global";

.hero-section {
  background-image: linear-gradient(#fffdf6, #ffebf3);
  padding: 80px 0;

  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  &__title {
    @extend h1;
    margin-bottom: 30px;
  }

  &__para {
    @extend .text;
    max-width: 570px;
  }

  &__image {
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
  }
}
/************************************************* code of conduct section ***************************************/

.main-content {
  background-color: $pink-bg;

  &__heading {
    text-align: center;
    @extend h2;
    margin-bottom: 30px;
  }
}

.coc-card {
  background-color: #ffffff;
  padding: 30px 20px;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  margin: 20px 0;

  &__number {
    @extend h2;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__para {
    @extend .text;
  }

  &__head {
    padding-bottom: 30px;
    @extend h2;
  }
}

/**************************************************** Guidelines section ***********************************/

.guidelines-section {
  background-image: linear-gradient(#ffebf3, #fffdf6);
  padding: 80px;

  &__heading {
    text-align: center;
    @extend h2;
    margin-bottom: 50px;
  }
}

.guidelines-card {
  &__text {
    text-align: center;
    max-width: 260px;
    @extend .text;
    margin: auto;
  }
}

// for medium sized devices - tablets
@media only screen and (max-width: 1024px) {
  .hero {
    &__image {
      height: 500px;
      margin-top: 0px;
    }
  }

  .guidelines-card {
    margin-bottom: 40px;
  }
}

// for small sized devices - mobile phones
@media only screen and (max-width: 640px) {
  .hero {
    padding: 50px 0;
  }
}
