*{
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif !important;
}

body{
  margin:0;
  overflow-x: hidden;
}

#root{
  overflow-x:hidden;
}

.grid-container {
  max-width: 69.375em; /* making it 1080px including 15px margin on either sides */
}

a{color:inherit}

// Theme colors
$purple: #AB1D79;
$lilac: #4A2343;
$pink: #FFC7E3;

// Text colors
$title-color: #333333;
$text-color: #6E6D7A;

// Background colors
$yellow-bg: #FFFDF6;
$pink-bg: #FFEBF3;

//font-weights
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;


//headings 
h1{
  font-size:50px; 
  font-weight: $font-weight-semi-bold;
}

h2{
  font-size:36px; 
  font-weight: $font-weight-semi-bold;
}

h3{
  font-size: 18px; 
  font-weight: $font-weight-medium;
}

// text style
.text{
  font-size:16px; 
  font-weight: $font-weight-regular;
  line-height:26px;
  color:$text-color;
}

p{
  @extend .text; //using text style
}

a{
  color:inherit;
  text-decoration:inherit;
  line-height:inherit;
}

// for pages
[class$="-page"]{
  padding:60px 0;
}

// for small sized devices - mobile phones

@media only screen and (max-width:640px){
  .grid-container{
    padding:0 15px; 
  }
  
  h1{
    font-size:36px;
  }

  h2{
    font-size:24px;
  }

  .text{
    font-size: 14.5px;
    line-height:22px;
  }
}

@import "../components/button";